* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1;
}

header {
  height: 1273px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-image: url(../images/code-1646-1273.jpg);
  position: relative;
  padding: 1.2em;
  font-size: 2.4em;
  position: relative;
}

.logo-icon {
  position: absolute;
  top: 0.2em;
  left: 0.8em;
  font-size: 3em;
  color: cornsilk;
  opacity: 0.8;
}

.btn-top {
  background-color: cornsilk;
  color: #1d0303;
  font-size: 0.8em;
  padding: 0.6em 1.4em;
  border-radius: 9px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 64em;
  margin-top: 4em;
}

.main-info {
  width: 100%;
  padding: 0 1.2em 0 1.2em;
  color: #1d0303;
  font-size: 2.8em;
  font-weight: 500;
}

.main-info h1 {
  font-size: 3em;
  font-weight: 700;
}

.main-info h2 {
  padding-top: 1.8em;
  font-size: 0.8em;
}

.main-text,
.main-info li {
  margin-top: 1.2em;
  font-weight: 400;
  font-size: 0.6em;
  line-height: 1.2em;
}

.main-info li {
  list-style: none;
}

.main-info span {
  font-weight: 500;
}

.main-icon {
  padding-right: 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  vertical-align: middle;
}

.main-img {
  width: 100%;
  text-align: center;
  padding: 1.2em;
}

.main-img p {
  padding: 1.8em;
  font-size: 1.8em;
}

nav span {
  font-weight: 700;
}

footer {
  padding: 3.2em 0 1.2em 0;
  height: 28em;
  text-align: center;
  color: #faf2bb;
  background-color: #1d0303;
}

.footer-logos,
.footer-using {
  font-size: 2.4em;
  padding: 0.6em 0 0.6em 0;
  text-decoration: none;
}

.footer-using a {
  text-decoration: none;
  color: #faf2bb;
}

.footer-logos {
  color: #faf2bb;
}

footer h2 {
  padding-bottom: 0.6em;
  color: #faf2bb;
  font-size: 0.8em;
  font-weight: 400;
}

.footer-copy {
  padding-top: 1.8em;
  text-decoration: none;
  font-size: 1.4em;
  color: #faf2bb;
}
