* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  line-height: 1;
}

header {
  height: 1273px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-image: url(../images/code-1646-1273.jpg);
  position: relative;
  padding: 1.2em;
  font-size: 2.4em;
  position: relative;
}

.logo-icon {
  position: absolute;
  top: 0.2em;
  left: 0.8em;
  font-size: 3em;
  color: cornsilk;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 48em;
}

.main-info {
  width: 100%;
  padding: 1.2em;
  color: #1d0303;
  font-size: 2.4em;
}

.main-text,
.main-info li {
  margin-top: 1.2em;
  font-weight: 400;
  font-size: 0.8em;
}

.main-info li {
  list-style: none;
}

.main-info span {
  font-weight: 500;
}

.main-img {
  width: 100%;
  text-align: center;
  padding: 1.2em;
}

.main-img p {
  padding: 1.4em;
  font-size: 1.4em;
}

.btn-top {
  background-color: cornsilk;
  color: #1d0303;
  font-size: 0.8em;
  padding: 0.6em 1.4em;
  border-radius: 9px;
  border: none;
  text-decoration: none;
}

nav span {
  font-weight: 700;
}

footer {
  padding: 4.2em 0 1.2em 0;
  height: 28em;
  text-align: center;

  color: #fff;
  background-color: #1d0303;
}

.footer-logos,
.footer-using {
  font-size: 1.8em;
  padding: 0.8em 0 1.6em;
  text-decoration: none;
}

h2,
h4 {
  font-size: 1.8em;
  font-weight: 400;
}

.footer-copy {
  text-decoration: none;
  font-size: 1.2em;
  color: #ddd;
}
